
*{
  margin:0;
  padding: 0;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
   box-sizing: border-box;
}

body{
    background: #D4D4D4;
    font-family: 'Open sans';
    
}

.wrap{
    width: 800px;
    max-width: 100%;
    margin: 0px auto;
}

ul.tabs{
    width: 100%;
    height: 58px;
    background: #363636;
    list-style: none;
    display: flex;
}
ul.tabs1{
    width: 100%;
    height: 58px;
    background: #363636;
    list-style: none;
    display: flex;
    color:white;
    
}
ul.tabs1 li{
    margin-left: 130px;
    margin-top: 10px;
    text-align: center;
    font-size: 24px;
    font-family: arial;
}
ul.tabs1 #siguiente{
    margin-left: 350px;
    margin-top: 10px;
    height: 40px;
    
}
ul.tabs li a{
    color:#fff;
    text-decoration: none;
    font-size: 16px;
    display: block;
    padding: 20px 0px;
    text-align: center;
    
}

ul.tabs li{
    width: 18%;
    
}

.active{
    background: #0984CC;
}
ul.tabs li a .tab-text{
    margin-left: 8px;
}

.secciones{
    width: 100%;
    background: #fff;
}

.secciones article{
    padding: 30px;
}

.secciones article a{
    text-align: justify;
}
#enviarform:focus{
    background-color: red;
    height: 58px;
   
}


@media screen and (max-width:700px){
    ul.tabs li{
    
    flex-basis: 0;    
    flex-grow: 1;
    }
}
@media screen and (max-width:400px){
    ul.tabs li a{
        padding: 15px 0px;  
        color: white;
    }
    ul.tabs li a .tab-text{
        font-size:14px;
        height: 10px;
        width: 32px;        
    }
    .secciones article{
        padding: 20px;
    }
    ul.tabs1 li{
        margin-left: 0px;
        margin-top: 10px;
        text-align: center;
        font-size: 18px;
        font-family: arial;
    
    }
    .active{
        background: #0984CC;
        height: 66px;
    }
    
}